/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Menu principal */
.menu-list {
    position: fixed;
    bottom: 0px;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    height: 5rem;
    text-align: center;
    color: #fff;
    background: linear-gradient(to top, #000000 60%, transparent);
}

.menu-item>a>img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.menu-item-sub {
    transform: translateY(0);
    transition: transform 1.5s ease-in-out;
}

/* Submenu */
.submenu-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.submenu-item {
    width: 25%;
}

.submenu-item>a {
    text-decoration: none;
    color: #c8c8c8;
    cursor: pointer;
}

.submenu-item>a:hover {
    color: #a1a1a1;
}


/* Closed/Open */
.closed {
    transform: translateY(3rem);
}

.open {
    transform: translateY(0px);
}